.App {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.textLine{
    /* border: 1px solid black; */
    padding: 0;
    display: inline-block;
    
}
.circle{
    width: 400px;
    height: 400px;
    position: relative;
    border: 1px solid red;
    padding: 0;

}
.circle>*{
    left: 50%;
    top: 0%;
    position: absolute;
    /* transform-origin: 0 100px; */
}
