* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

p {
  margin: 0;
}

.App-header {
  /* border: 1px solid red; */
  min-height: 10rem;
  height: 20vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: white 1px solid;

  overflow: hidden;
  display: flex;
  justify-items: center;
}
.CircHeader {
  left: 0;
  top: 0;
}

main {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;
}
main > div {
  border: white 1px solid;
  margin: 0.5rem;
}

.charBlockRef {
  /* font-size: 2rem; */
}

.LeftSide {
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-width: 15rem;
}

.Control {
  border: white 1px solid;
  margin: 0.25rem;
  background-color: #222b41;
}
.Control label {
  display: block;
}
.Control input {
  width: 90%;
  margin: 0.25rem;
}
.controlCheck {
  text-align: start;
}
.controlCheck input {
  width: min-content;
  display: inline-block;
}
.controlCheck label {
  width: min-content;
  display: inline-block;
}

.App-header {
  --primary: #faade1;
  --bg-color: black;
}
.App-header .charCirc {
  color: #f588d0;
  text-shadow: 0 0 5px #fa7bd0;
  border: none;
  background-color: #282c34;
  user-select: none;
  /* animation: animate 1.5s linear infinite; */
  animation: animate 4s linear;
  animation-iteration-count: 2;
}
@keyframes animate {
  0%,
  40% {
    color: #f588d0;
    text-shadow: 0 0 5px #fa7bd0;

    /* text-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary); */
  }
  50% {
    color: white;
    text-shadow: 0 0 10px white, 0 0 20px var(--primary),
      0 0 30px var(--primary), 0 0 40px var(--primary), 0 0 80px var(--primary),
      0 0 160px var(--primary), 0 0 320px var(--primary);
  }
  65%,
  100% {
    color: #f588d0;
    text-shadow: 0 0 5px #fa7bd0;

    /* text-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary); */
  }
}
