:root {
  --w1: 450px;
}

.headerCenter {
  --w: 350;
  --sc: calc(var(--w) / 845);
  width: calc(var(--w) * 1px);
  height: calc(var(--w) * 184px / 845);
  border: 1px solid #f588d0;
  overflow: hidden;
  margin: 0 auto;
}
.headerText {
  position: relative;
  width: 845px;
  height: 184px;
  border: 1px solid red;
  transform-origin: top left;
  transform: scale(var(--sc));
  margin: 0 auto;
}
.char {
  position: absolute;
  /* border: 1px solid wheat; */
}
@media screen and (min-width: 450px) {
  .headerCenter {
    --w: 450;
    --sc: calc(var(--w) / 845);
    width: calc(--w * 1px);
  }
}
@media screen and (min-width: 640px) {
  .headerCenter {
    --w: 640;
    --sc: calc(var(--w) / 845);
    width: calc(--w * 1px);
  }
}
@media screen and (min-width: 845px) {
  .headerCenter {
    --w: 800;
    --sc: calc(var(--w) / 845);
    width: calc(--w * 1px);
  }
}
