.headerCenter {
  --w: 350;
  --sc: calc(var(--w) / 845);
  width: calc(var(--w) * 1px);
  height: calc(var(--w) * 184px / 845);
  border: 1px solid #f588d0;
  overflow: hidden;
  margin: 0 auto;
}

.headerText {
  position: relative;
  width: 845px;
  height: 184px;
  /* border: 1px solid red; */
  transform-origin: top left;
  transform: scale(var(--sc));
  margin: 0 auto;
}
.char {
  position: absolute;
}

.App-header {
  --primary: #faade1;
  --bg-color: black;
}
.App-header .charCirc {
  color: #f588d0;
  text-shadow: 0 0 5px #fa7bd0;
  border: none;
  background-color: #282c34;
  user-select: none;
  /* animation: animate 1.5s linear infinite; */
  animation: animate 4s linear;
  animation-iteration-count: 2;
}
@keyframes animate {
  0%,
  40% {
    color: #f588d0;
    text-shadow: 0 0 5px #fa7bd0;

    /* text-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary); */
  }
  50% {
    color: white;
    text-shadow: 0 0 10px white, 0 0 20px var(--primary),
      0 0 30px var(--primary), 0 0 40px var(--primary), 0 0 80px var(--primary),
      0 0 160px var(--primary), 0 0 320px var(--primary);
  }
  65%,
  100% {
    color: #f588d0;
    text-shadow: 0 0 5px #fa7bd0;

    /* text-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary); */
  }
}

@media screen and (min-width: 450px) {
  .headerCenter {
    --w: 450;
    --sc: calc(var(--w) / 845);
    width: calc(--w * 1px);
  }
}
@media screen and (min-width: 640px) {
  .headerCenter {
    --w: 640;
    --sc: calc(var(--w) / 845);
    width: calc(--w * 1px);
  }
}
@media screen and (min-width: 845px) {
  .headerCenter {
    --w: 800;
    --sc: calc(var(--w) / 845);
    width: calc(--w * 1px);
  }
}
